body,
html {
  font-family: "Roboto", sans-serif;
}
.site-title a {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  color: black;
  text-decoration: none;
}
.top-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style-type: none;
}
.top-menu li {
  padding: 10px 40px;
}
.top-menu li a {
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.06em;
  text-decoration: none;
  color: black;
}
.intro_block {
  background-size: 51%;
  background-position: top right;
  background-repeat: no-repeat;
  height: 960px;
}
.heading_title {
  font-size: 72px;
  line-height: 84px;
  letter-spacing: 0.035em;
  padding-top: 129px;
  font-weight: normal;
}
.search_bird {
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  border-radius: 30px;
  padding: 17px 30px;
  outline: none;
  min-width: 385px;
}
.search_bird:focus {
  border-color: #ee4316;
}
#header_search {
  display: flex;
  align-items: center;
  margin-top: 60px;
}
.search_bird_button {
  background: #ee4316;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  margin-left: 30px;
  outline: none;
  border: none;
  color: white;
}
.search_bird_button svg {
  width: 29px;
  height: 29px;
}

/* HOME PAGE */
.home-page_direct_step {
  font-weight: normal;
  font-size: 72px;
  line-height: 84px;
  color: #000000;
}
.home-page_direct_des {
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.035em;
  color: #c4c4c4;
}
.home-page {
  margin-top: 128px;
  margin-bottom: 128px;
}
.step-one {
  margin-top: 82px;
}
.step-one b {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  margin-top: 33px;
  display: inline-block;
}
.step-one p {
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  margin-top: 30px;
  color: #9a999a;
}
.step-one_icon {
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  border-radius: 20px;
  width: 84px;
  height: 84px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.step-one_icon svg {
  width: 50px;
  height: 50px;
  font-weight: normal;
}

/* FOOTER */
.footer-menu a {
  text-decoration: none;
  color: white;
  margin-bottom: 20px;
  display: inline-block;
}

.footer_main {
  height: 450px;
  color: white;
  background: linear-gradient(90.15deg, #38638b 3.94%, #bd2c1b 132.36%);
  padding: 77px 0px;
}
.footer_title {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 25px;
  text-transform: uppercase;
}
.info_footer {
  margin-top: 80px;
}
.info_footer .info_footer_item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.info_footer .info_footer_item p {
  margin-left: 12px;
  margin-bottom: 0;
}
.img_footer img {
  margin-bottom: 27px;
}
.list_animal {
  background-color: #f3f5f7;
  padding: 60px 0 0 0;
}

/* BLOCK ANIMAL */
.animal {
  background: #ffffff;
  box-shadow: 11px 11px 40px rgba(0, 0, 0, 0.06);
  border-radius: 42px;
  text-align: center;
  padding: 66px 35px;
  margin-bottom: 98px;
}

.animal_info__title {
  margin-top: 44px;
}
.animal_info__title b {
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.015em;
  color: #000000;
}
.animal_info__title p,
.animal_info_des p {
  font-size: 13px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 0.015em;
  margin-top: 10px;
  color: #c4c4c4;
}
.animal_info_des a {
  font-size: 13px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 0.015em;
  color: #ee4316;
  text-decoration: none;
}

.animal img {
  width: 120px;
  height: 156px;
  object-fit: cover;
}

/* SEARCH HEADER */
.search_header_bg {
  height: 460px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}
.search_header_bg form {
  justify-content: center;
}
.search_header_form {
  margin-top: 100px;
}
.search_header_form input {
  background: #ffffff;
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  outline: none;
  min-width: 920px;
  border-radius: 10px;
  padding: 14px 77px;
}
.input_cus {
  position: relative;
}
.input_cus button {
  position: absolute;
  left: 0;
  border: none;
  height: 54px;
  width: 54px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.input_cus svg {
  width: 43px;
  height: 43px;
}

/* PAGE SEARCH */
.page_search {
  background-color: #f3f5f7;
  padding: 67px 0;
}
.page_search .des_search {
  text-align: center;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.015em;
  color: #c4c4c4;
  margin-top: 9px;
  margin-bottom: 34px;
}

.title_search {
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.015em;
  color: #000000;
  font-weight: normal;
}
.title_search b {
  color: #ee4316;
  font-weight: bold;
}
.search_section .animal {
  padding: 50px 0 25px 0;
  margin-bottom: 30px;
}
