body,
html {
  font-family: "Roboto", sans-serif;
}
.site-title a {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  color: black;
  text-decoration: none;
}
.top-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style-type: none;
}
.top-menu li {
  padding: 10px 40px;
}
.top-menu li a {
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.06em;
  text-decoration: none;
  color: black;
}
.intro_block {
  background-size: 51%;
  background-position: top right;
  background-repeat: no-repeat;
  height: 960px;
}
.heading_title {
  font-size: 64px;
  line-height: 84px;
  letter-spacing: 0.035em;
  padding-top: 129px;
  font-weight: normal;
}
.search_bird {
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  border-radius: 30px;
  padding: 17px 30px;
  outline: none;
  min-width: 385px;
}
.search_bird:focus {
  border-color: #ee4316;
}
#header_search {
  display: flex;
  align-items: center;
  margin-top: 60px;
}
.search_bird_button {
  background: #ee4316;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  margin-left: 30px;
  outline: none;
  border: none;
  color: white;
}
.search_bird_button svg {
  width: 29px;
  height: 29px;
}

/* HOME PAGE */
.home-page_direct_step {
  font-weight: normal;
  font-size: 48px;
  line-height: 84px;
  color: #000000;
}
.home-page_direct_des {
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.035em;
  color: #c4c4c4;
}
.home-page {
  margin-top: 128px;
  margin-bottom: 128px;
}
.step-one {
  margin-top: 82px;
}
.step-one b {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  margin-top: 33px;
  display: inline-block;
}
.step-one p {
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  margin-top: 30px;
  color: #9a999a;
}
.step-one_icon {
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  border-radius: 20px;
  width: 84px;
  height: 84px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.step-one_icon svg {
  width: 50px;
  height: 50px;
  font-weight: normal;
}

/* FOOTER */
.footer-menu a {
  text-decoration: none;
  color: white;
  margin-bottom: 20px;
  display: inline-block;
}

.footer_main {
  height: 450px;
  color: white;
  background: linear-gradient(90.15deg, #38638b 3.94%, #bd2c1b 132.36%);
  padding: 77px 0px;
}
.footer_title {
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 25px;
  text-transform: uppercase;
}
.info_footer {
  margin-top: 80px;
}
.info_footer .info_footer_item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.info_footer .info_footer_item p {
  margin-left: 12px;
  margin-bottom: 0;
}
.img_footer img {
  margin-bottom: 27px;
}
.list_animal {
  background-color: #f3f5f7;
  padding: 60px 0 0 0;
}

/* BLOCK ANIMAL */
.animal {
  background: #ffffff;
  box-shadow: 11px 11px 40px rgba(0, 0, 0, 0.06);
  border-radius: 42px;
  text-align: center;
  padding: 66px 35px;
  margin-bottom: 98px;
  transition: all 0.3s ease-in-out;
}

.animal:hover {
  box-shadow: 1px 1px 10px 7px rgb(0 0 0 / 6%);
}

.animal_info__title {
  margin-top: 44px;
}
.animal_info__title b {
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.015em;
  color: #000000;
}
.animal_info__title p,
.animal_info_des p {
  font-size: 13px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 0.015em;
  margin-top: 10px;
  color: #c4c4c4;
}
.animal_info_des a {
  font-size: 13px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 0.015em;
  color: #ee4316;
  text-decoration: none;
}

.animal img {
  width: 120px;
  height: 156px;
  object-fit: cover;
}

/* SEARCH HEADER */
.search_header_bg {
  height: 460px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}
.search_header_bg form {
  justify-content: center;
}
.search_header_form {
  margin-top: 100px;
}
.search_header_form input {
  background: #ffffff;
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  outline: none;
  min-width: 920px;
  border-radius: 10px;
  padding: 14px 77px;
}
.input_cus {
  position: relative;
}
.input_cus button {
  position: absolute;
  left: 0;
  border: none;
  height: 54px;
  width: 54px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.input_cus svg {
  width: 43px;
  height: 43px;
}

/* PAGE SEARCH */
.page_search {
  background-color: #f3f5f7;
  padding: 67px 0 150px 0;
}
.page_search .des_search {
  text-align: center;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.015em;
  color: #c4c4c4;
  margin-top: 9px;
  margin-bottom: 34px;
}
.paginate_nav {
  text-align: center;
  margin-top: 150px;
}
.paginate_nav a {
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
  padding: 0 12px;
  text-decoration: none;
}
.paginate_nav span {
  position: relative;
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
  padding: 0 12px;
  text-decoration: none;
}
.paginate_nav span::after {
  content: " ";
  position: absolute;
  background: #ee4316;
  width: 30px;
  height: 3px;
  left: 3px;
  bottom: -10px;
}
.title_search {
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.015em;
  color: #000000;
  font-weight: normal;
}
.title_search b {
  color: #ee4316;
  font-weight: bold;
}
.search_section .animal {
  padding: 50px 0 25px 0;
  margin-bottom: 30px;
}

/* 404 */
.no-results.not-found {
  text-align: center;
}
.page_404 {
  text-align: center;
}
.page_404 img {
  max-width: 100%;
  height: 656px;
}
/* SIDEBAR MENU */
.single-animal {
  padding-top: 90px;
}
.menu-aside {
  position: relative;
}
.menu-aside .aside-menu {
  list-style: none;
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  padding-top: 40px;
  position: relative;
}

.menu-aside .aside-menu li a {
  text-decoration: none;
  color: black;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 22px;
  display: inline-block;
}
.menu-aside .aside-menu li a svg {
  margin-right: 10px;
  margin-bottom: 2px;
}

.menu-aside .title_aside {
  position: absolute;
  top: -25px;
  background: #26929b;
  margin-bottom: 0;
  border-radius: 31px;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
  text-transform: uppercase;
  display: inline-block;
  width: 100%;
  text-align: center;
  z-index: 9;
  padding: 10px 0px;
}
/* DETAIL PAGE */
.single-animal .animal_detail .info {
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  padding: 26px 12px;
  margin-bottom: 60px;
}
.animal_detail_title {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  color: #000000;
}
.animal_detail_sort_info {
  border-left: 3px solid #000000;
  margin-top: 28px;
}
.animal_detail_sort_info p {
  margin-left: 16px;
}
.animal_detail_share {
  margin-top: 56px;
  display: flex;
  align-items: center;
}
.animal_detail_share p {
  margin: 0;
  margin-right: 10px;
}
.animal_detail_share > div {
  margin-right: 10px;
}
.animal_detail_share .fb_iframe_widget {
  display: flex;
}
#animal_content_tab {
  margin-top: 30px;
}
#animal_tab a {
  color: white;
  background: #26929b;
  margin-right: 30px;
  padding: 10px 40px;
}
#animal_tab {
  margin-top: 75px;
}
#animal_tab a.active {
  background: #ee4316;
  border-radius: 6px;
}
.page-lienhe {
  margin-top: 20px;
}
